<!-- layout/header/header.component.html -->
<nav class="navbar">
  <div class="navbar-left">
    <a class="nav-item" routerLink="/home">
      <img src="assets/netflix_logo.svg" alt="Netflix Logo" class="logo">
    </a>
    <a class="nav-item" routerLink="/home">Home</a>
    <a class="nav-item" routerLink="/movies">Movies</a>
    <a class="nav-item" routerLink="/series">Series</a>
  </div>
  <div class="navbar-right">
    <span class="welcome-text">Welcome {{ username }}</span>
    <img src="assets/avatar-account.svg" alt="User Image" class="user-img">
    <a class="nav-item" (click)="signOut()">Sign Out</a>
  </div>
</nav>
